{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow">
      <div class="card-header"><h5>Set new password</h5></div>
      <div class="card-body">
        <form method="post">
          <input type="hidden" name="token" value="{{ token }}">
          <div class="mb-3">
            <label>New password</label>
            <input name="password" type="password" class="form-control" required>
            <div class="form-text">Choose a strong password.</div>
          </div>
          <div class="mb-3">
            <label>Confirm</label>
            <input name="confirm" type="password" class="form-control" required>
          </div>
          <button class="btn btn-success">Reset password</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
